<link href="https://fonts.googleapis.com/css?family=Gelasio|Roboto&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 

<link rel="stylesheet" type="text/css" href="<%- CONF.host %>/css/general/header.css">
<link rel="stylesheet" type="text/css" href="<%- CONF.host %>/css/general/footer.css">
<link rel="stylesheet" type="text/css" href="<%- CONF.host %>/css/general/scrollup.css">
<link rel="stylesheet" type="text/css" href="<%- CONF.host %>/css/general/main-content-width.css">

<script type="text/javascript" src="<%- CONF.host %>/js/general/changeclass.js"></script>

<div id="nav2"> 
	<div class="navtop"> 
		<a href="Grundlagen/.." class="logo-area"> 
			<div class="logo-img"></div> 
			<div class="logo-name">Abicheck</div> 
		</a> 

		<div class="navtop-rechts">
			<a href="Prüfungen">Prüfungen</a>
			<div class="trenn"></div>
			<a href="Rechner">Rechner</a>
		</div>
	</div> 
	<div class="zwischenlinie-b"></div> 
</div> 

<div class="zwischenlinie-a"></div>